<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Welcome to Company Records!</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
        </div>
</div>

<div class="container marketing mt-5">

        
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle align-content-center" src="./lib/images/Manager1.png" alt="Generic placeholder image" width="140" height="140">
            <h2>John Smith</h2>
            <p>As a records manager, John Smith is responsible for handling the outflow and inflow of company records. Being in the industry, John possesses a wide variety of exprience when it comes to handling records.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-lg-4">
            <img class="rounded-circle" src="./lib/images/Manager2.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Edgar Adams</h2>
            <p>Edgar Adam sserves as the public relation of the company. He is responsible for attracting clients and the public about the company's objectives.'
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-lg-4">
            <img class="rounded-circle" src="./lib/images/Manager3.png" alt="Generic placeholder image" width="140" height="140">
            <h2>John Lewis</h2>
            <p>John Lewis is the company's human resources manager. As a member of the team, he is responsible for recruiting and accepting fresh new faces for the company.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
        </div>


        

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">Collaboration is Key.</span></h2>
            <p class="lead">Here in Company Records, it is our belief that our staff is working as a team on projects and other related-endeavours. After all, Teamwork makes the Dreamwork!</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" alt="500x500" src="./lib/images/1.png" data-holder-rendered="true">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">The staff are really accomodating to the needs and demands of its employees. Exclusivity and tolerance contributes to a healthy work environment.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="./lib/images/2.png" >
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Focus is Crucial.</span></h2>
            <p class="lead">We believe that having a serene environment is conducive to one's productivty and well-being and performance.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="./lib/images/3.png">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div>
       